:root {
    --cor-1: #8C030E;
    --cor-2: #8C031C;
    --cor-3: #40010D;
}

main {
    max-width: 800px;
    margin: 24px auto;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main h1 {
    font-size: 2.2em;
    color: var(--cor-3);
    margin-bottom: 5px;
    text-align: center;
}

/* Estilizando o contêiner do contador */
#contador-calorias {
    background-color: var(--cor-2);
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-top: 10px;
    order: -1; /* Coloca o contador acima do formulário e da lista */
}

#contador-calorias span {
    font-size: 1.6em;
    margin-left: 5px;
    color: #FFE0B2; /* Cor mais clara para o número de destaque */
}

/* Estilos específicos para a seção de registro de refeições */
#registro-refeicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#registro-refeicao label {
    max-width: 100%; /* Ajusta a largura para o layout do formulário */
}

#registro-refeicao input:not(.input-submit) {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 10px; /* Ajuste o padding para ser um pouco menor no formulário */
}

.form-group {
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-submit {
    margin: 10px 0 0 0; /* Ajusta a margem do botão */
}

/* Estilos para a lista de refeições */
#lista-refeicoes {
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#lista-refeicoes h2 {
    color: var(--cor-1);
    border-bottom: 2px solid var(--cor-2);
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-align: center;
}

#refeicoes-dia {
    list-style: none;
    padding: 0;
}

#refeicoes-dia li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: var(--cor-3);
}

#refeicoes-dia li:last-child {
    border-bottom: none;
}

#refeicoes-dia .info-refeicao {
    font-weight: 500;
}

#refeicoes-dia .calorias-refeicao {
    font-weight: bold;
    color: var(--cor-1);
}