:root {
    --cor-1: #8C030E;
    --cor-2: #8C031C;
    --cor-3: #40010D;

    --radius-padrao: 8px;
    --sombra-leve: 0 2px 5px rgba(0,0,0,0.1);
    --sombra-media: 0 4px 8px rgba(0,0,0,0.2);
    --cor-fundo-transparente: rgba(255, 255, 255, 0.9);
    --transicao-padrao: 0.25s ease;
}

main {
    max-width: 800px;
    margin: 24px auto;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main h1 {
    font-size: 2.2em;
    color: var(--cor-3);
    margin-bottom: 5px;
    text-align: center;
}

#contador-calorias {
    background-color: var(--cor-2);
    color: white;
    padding: 15px 20px;
    border-radius: var(--radius-padrao);
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: var(--sombra-media);
    margin-top: 10px;
    order: -1;
}

#contador-calorias span {
    font-size: 1.6em;
    margin-left: 5px;
    color: #FFE0B2;
}

#registro-refeicao, #lista-refeicoes {
    background: var(--cor-fundo-transparente);
    border-radius: var(--radius-padrao);
    box-shadow: var(--sombra-leve);
    padding: 20px;
}

#registro-refeicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Estilo para envolver Label + Input */
.form-group {
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Inputs de Texto/Número (Exclui o botão submit) */
#registro-refeicao input:not(.input-submit) {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-submit {
    background-color: var(--cor-2);
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: var(--radius-padrao);
    font-size: 1.15em;
    font-weight: 700;
    text-transform: uppercase;
    transition: var(--transicao-padrao);
    display: block;
    width: 100%;
    max-width: 330px;
}

.input-submit:hover {
    background-color: var(--cor-3);
    transform: scale(1.01);
}

#lista-refeicoes {
    padding: 15px;
}

#lista-refeicoes h2 {
    color: var(--cor-1);
    border-bottom: 2px solid var(--cor-2);
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-align: center;
}

#refeicoes-dia {
    list-style: none;
    padding: 0;
}

#refeicoes-dia li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color: var(--cor-3);
}

#refeicoes-dia li:last-child {
    border-bottom: none;
}

#refeicoes-dia .info-refeicao {
    font-weight: 500;
    margin-left: 10px;
    color: #333;
}

#refeicoes-dia .calorias-refeicao {
    font-weight: bold;
    color: var(--cor-1);
}