:root {
    --cor-1: #9c000d;
    --cor-2: #8C031C;
    --cor-3: #40010D;
    --cor-4: #260104;
    --cor-5: #0D0D0D;
    --fonte-principal: 'Akira', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imgs/gym.avif);
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

div {
    width: 50%;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 330px;
}

label {
    text-align: left;
    width: 100%;
    max-width: 330px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9em;
}

input {
    padding: 16px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 330px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-submit {
    background-color: var(--cor-2);
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 0 50px 0;
    transition: .25s;
    width: 100%;
    max-width: 330px;
    font-size: 16px;
}

.input-submit:hover {
    background-color: var(--cor-2);
    transform: scale(1.03);
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form .input-submit {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.sexo-escolha {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-bottom: 15px;
}

/* Esconde o botão de rádio padrão */
.sexo-escolha input[type="radio"] {
    display: none;
} 

.sexo-escolha span {
    display: inline-flex;
    flex-shrink: 0;
}

.sexo-escolha label {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s;
}

.sexo-escolha label img {
    width: 30px;
    height: 30px;
    opacity: 0.6;
    transition: 0.2s;
}

/* Quando selecionado */
.sexo-escolha input[type="radio"]:checked + label {
    border-color: var(--cor-2);
}
.sexo-escolha input[type="radio"]:checked + label img {
    opacity: 1;
    transform: scale(1.05);
}

a {
    margin: 25px 0;
}

.password-wrapper{
    position: relative;
    width: 100%;
    max-width: 330px;
}
.password-wrapper input[type="password"],
.password-wrapper input[type="text"]{
    width: 100%;
    padding-right: 44px;
    box-sizing: border-box;
}
.password-wrapper img.toggle-eye{
    position: absolute;
    right: 10px;
    top: 53%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    cursor: pointer;
    user-select: none;
}

.input-submit {
    background: var(--cor-1);
    color: white;
    border: none;
    cursor: pointer;
}